.todolist {
    display: flex;
    justify-content: space-between;
}

.tasklist{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.none{
    display: none;
}

.play{
    background-color: aquamarine;
}